.baseLandingPage {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #172A3A;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSlider {
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.imgSlider:hover {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    cursor: pointer;
}

.imgSlider:not(:hover) {
    opacity: 0.5;
    transition-duration: 1s;

}

.txtInformationTop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 2%;
}

.txtInformationMed {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.txtInformationBot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    color: #fff;
}

.txtChessPieces {
    color: #4CAF50;
    font-weight: bold;
    padding-left: 4px;
    cursor: pointer;
}

.txtChessPopupTitle {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 1%;
}

.imgChessPopup {
    position: fixed;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.txtChessPopupDescription {
    width: 60%;
    height: 80%;
    position: fixed;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    float: left;
    color: #fff;
    font-size: 18px;
}

.txtChessPopupDescriptionTop {
    position: fixed;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.txtChessPopupDescriptionBot {
    position: fixed;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}